#root {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.DropdownContainer {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  gap: 1rem; 
  text-align: left; 
}